.map-banner{
    margin-bottom: 20px;
}
.FAQ-title::after{
    background: url(/imges/icon-location.svg) center center / contain no-repeat;
    width: 41px;
    height: 58px;
}
@media(max-width:740px){
    .FAQ-title::after{
        background: url(/imges/icon-location.svg) center center / contain no-repeat;
        width: 40px;
        height: 30px;
    }
}
.m-auto label{
    font-size: $fontFig;
    line-height: 30px;
    margin-right: 41px;
}
@media(max-width:568px){
    .m-auto label{
        font-size: $fontSma;
    }
}
.m-auto select{
    min-width: 320px;
    height: 45px;
    border: 1px solid #CED4DA;
    padding: 10px 0 10px 19px;
    font-size: 100%;
    margin-bottom: 38px;
}
.info{
    display: flex;
    margin-bottom: 460px;
}
@media(max-width:770px){
    .info{
        flex-direction: column;
        margin-bottom: 105px;
    }
}
.info-item{
    width: 445px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}
@media(max-width:770px){
    .info-item{
        width: 100%;
        margin-bottom: 32px;
        flex-direction: row;
    }
    .Ipad{
        margin-top: 8px;
    }
}
@media(max-width:740px){
    .info-item{
        width: 100%;
        margin-bottom: 32px;
        flex-direction: column;
    }
    .Ipad{
        margin-top: 8px;
    }
}
.info-item .info-icon{
    vertical-align: bottom;
    width: 21px;
    height: 21px;
    margin-right: 12px;
}
.info-item .item-img{
    display: block;
}
@media(max-width:770px){
    .info-item .item-img{
        width: 330px;
        height: 164px;
        margin-right: 30px;
    }
    
}
@media(max-width:740px){
    .info-item .item-img{
        width: 100%;
        height: auto;
        margin: 0 auto 20px auto;
    }
    
}
.info-item h3{
    font-size: $fontFig;
    line-height: 36px;
    font-weight: bold;
    border: 1px solid #00000020;
    padding-left: 24px;
}
@media(max-width:770px){
    .info-item h3{
        padding: 8px 0 8px 16px;
        font-size: $fontSma;
        line-height: 22px;
    }
}
.info-item h4{
    display: inline-block;
    font-weight: bold;
}
.info-item ul{
    border: 1px solid #00000020;
    padding: 24px;
}
@media(max-width:770px){
    .info-item ul{
        padding: 10px;
    }
}
.info-item ul li{
    margin-bottom: 8px;
}
.info-map{
    width: 635px;
}
@media(max-width:770px){
    .info-map{
        margin-bottom: 104px;
        width: 100%;
    }
    .info-map img{
        width: 690px;
    }
}